* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.body-style {
  width: 100%;
  height: 2000px;
  background-color: #f0ffe1;
  padding-top: 50px;
}

.about-page-container {
  width: 70%;
  background-color: #ffffff;
  padding: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-page-title {
  font-size: 36px;
  color: #409a00;
  text-align: center;
}

.about-page-heading {
  font-size: 28px;
  color: #668866;
  text-align: center;
}

.about-info-text {
  font-size: 24px;
  padding: 20px;
  text-align: center;
}

.about-page-section {
  /* padding-left: 50px; */
  padding-top: 20px;
  display: flex;
  flex-direction:column;
}

.about-info-container {
  display: grid;
  grid-template-columns: 10% 90%;
  padding: 20px 0;
}

.about-creators-container {
  margin-top: 2.1%;
  display: grid;
  width: 100%;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 300px;
  grid-column-gap: 50px;
}

.creator-bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #cb2934;
  border-radius: 50%;
  height: 67%;
  width:auto;
  position: relative;
}

/* .creator-bubble:after {
    position: absolute;
      content: "";
      left: 150px;
      top: -50px;
      width: 100px;
      height: 100px;
      background: #ffffff;
      border-radius: 50px 50px 0 0;
      transform: rotate(45deg);
      transform-origin: 0 100%;
  } */

.creator-bubble:hover {
  animation: 0.8s circle-out forwards;
}

@keyframes circle-out {
  100% {
    border-radius: 0;
    height: 100%;
  }
}
.white-text {
  color: white;
}

.tree-image {
  width: 100%;
  height: auto;
}

.about-info-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1.white-text {
  text-align: center;
}