.signup--form {
    /* margin: 30px auto; */
    width: 100%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 25px;
}

.signup-form-input{
    /* width: 300px; */
    height: 45px;
    font-size: 25px;
    font-weight: lighter;
    color: rgb(105, 132, 64);

}
h1{
    color: rgb(105, 132, 64);
    font-weight: lighter;
}
.signUpSubmitButton{
    height: 45px;
    color: rgb(105, 132, 64);
    font-size: 20px;
}
.errors{
    color: red;
    font-size: 14px;
    margin: 0;
}

.hidden{
    display: none;
}
