

.main-container {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: minmax(100vh, auto);
    background-color: #F4FFE7;
}

.side-space {
    height: 100%;
}


.main-content {
    background-color: #F4FFE7;
}

.carousel-container {
    position: relative;
    border-bottom: 1px solid #6186353b;
    margin-bottom: 20px;
}

.carousel-buttons-container {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}

.carousel-title-info {
    display: flex;
}

.featured-project-container-title,
.carousel-title {
    text-transform: uppercase;
    font-size: 14px;
    color: #464646;
    font-weight: bold;
    padding-right: 20px;
}

.carousel-title-link {
    font-size: 14px;
    padding-left: 5px;
    text-decoration: none;
    color: #618635;
    font-weight: bold;
    display: flex;
}

.carousel-title-link:hover {
    text-decoration: underline;
}

.carousel-title-link-arrow {
    height: 10px;
    align-self: center;
    padding-left: 10px;
}

.carousel-items-container {
    height: 250px;
    width: 80vw;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: mandatory x;
    grid-auto-columns: 21%;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    grid-column-gap: 10px;

}

.project-card-container {
    width: 95%;
    height: 250px;
    margin: 5px;
    scroll-snap-align: start;
}

.project-card-image-container {
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    background-color: #BBDAF3;
    border-bottom: 4px solid #23924E;
}

.project-card-title {
    font-size: 18px;
    color: #464646;
}

.project-card-description {
    font-size: 14px;
    color: #464646;
}

.project-card-creator {
    font-size: 12px;
    color: #618635;
    text-decoration: none;
}

.project-card-creator:hover {
    text-decoration: underline;
}

.right-space {
    margin-right: 70px;
}

.carousel-button:hover {
    border: 1px solid #CB2934;
    border-radius: 20px;
}

.carousel-button {
    height: 18px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

.upper-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    margin-top: 50px;
    margin-bottom: 50px;
}

.featured-project-container {
    border-right: 1px solid #6186353b;
}

.featured-project-container-title,
.featured-project-image-container,
.featured-project-title,
.featured-project-description,
.featured-project-description-container {
    margin-bottom: 20px;
}

.featured-project-description {
    font-size: 16px;
    color: #464646;
}

.featured-project-title {
    font-size: 20px;
    color: #464646;
    font-weight: 500;
}

.featured-project-creator {
    font-size: 16px;
    color: #618635;
    text-decoration: none;
}
