/* .outer-div-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.edit-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 98%;
    margin: 10px auto;
}

.edit-page-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.edit-page-product-descriptor {
    margin-left: -50px;
}

.edit-description-form {
    display: flex;
    height: 20px;
}