/* to do */
@import url("./CSS/nav/nav-small.css") (max-width:660px);
@import url("./CSS/nav/nav-medium.css") (min-width:661px);
@import url("./CSS/nav/nav-large.css") (min-width:1190px);


@import url("./CSS/SignUp/signup-large-med.css") (min-width:661px);
@import url("./CSS/SignUp/signup-small.css") (max-width:660px);




body{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(240, 255, 225);
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
