body{
    background-color: rgb(240, 255, 225);
    overflow: hidden;
    position: relative;
}

.nav--background{
    background-color: rgb(175, 213, 244);
    width: 100%;
    /* height: 120px; */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.nav--element{
    display: flex;
    justify-content:space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;

}

.subMenuIcon{
    width: 80px;
    filter: brightness(3.3);
    cursor: pointer;
}

.submenu{
    width: 100%;
    transition: all 0.5s ease;
    /* position: absolute; */
    background-color: rgb(175, 213, 244);
    border-bottom: solid 6px rgb(64, 154, 0);
    /* top: 88px; */
    /* right: -400px; */
    transition: all 0.5s ease;
}
.submenu--slide_in{
    right: 0px;
}
.submenu--link{
    font-size: 20px;
    margin: 5px 15px;
    padding: 8px;
    border-radius: 12px;
    color:rgb(79, 127, 31);

}

.submenu--link:hover{
    background-color: rgb(212, 233, 250);
}
.logout{
    color:rgb(79, 127, 31);

}

.search--icon{
    width: 80px;
    height: 80px;
    background-color: transparent;
    background-size: 80px;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    margin: 0px;
    transition: all .25s ease-in-out;
}

.nav--link--container{
    margin: 0 20px;
    color:rgb(79, 127, 31);
    font-size: 24px;
    display: flex;
    align-items: center;
}

.nav--link:link,.nav--link:visited,.nav--link:focus{
    color:rgb(79, 127, 31);
    text-decoration: none;;
}
.nav--link:hover{
    text-decoration: underline;
    color:rgba(79, 127, 31, 0.5);
}

.logo{
    width: 250px;
}

.homeSearch{
    color:rgb(79, 127, 31);
    font-size: 24px;
    width: 150px;
    background: transparent;
    border: none;
    width: 75px;
    transition: all 0.5s ease;

}

.homeSearch:focus{
    color:rgb(79, 127, 31);
    font-size: 24px;
    width: 150px;
    background: white;
    border: none;
    width: 175px
}









.login--background{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.5s ease;
    pointer-events: none;

}

.login--background-fadeIn{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}



.login-form--background{
    width: 250px;
    height: 200px;
    background-color: rgb(236, 236, 236);
    position: absolute;
    top: -240px;
    left: 5%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 0 15px black;
    font-size: 20px;
    transition: all 0.5s ease;
    pointer-events: initial;

}

.login-form--background--slideIn{
    top: 130px;
}

.login-errors{
    color: rgb(255, 0, 0);
    margin-bottom: 20px;
    font-size: 15px;
}

.close-wrapper{
    top: -240px;
    left: 5%;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
    pointer-events: initial;
}

.close-wrapper--slidein{
    top: 126px;
}

.close-login-form{
    width: 30px;
    height: 30px;
    background-color: rgb(206, 206, 206);
    position: relative;
    left: 265px;
    top: -10px;
    padding: 4px;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    border: solid 1px black;
}

.close-login-form:hover{
    background-color: white;
}


.small-hide{
    display: none;
}
